<!DOCTYPE html>
<html>

<head>

    <title>Login</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="container">

    <h1>Login</h1>

    <form id="loginForm">

        <input
                type="email"
                id="email"
                placeholder="Email"
                required>

        <input
                type="password"
                id="password"
                placeholder="Password"
                required>

        <button>

            Login

        </button>

    </form>

    <p id="message"></p>

    <p>
        Don't have an account?
        <a href="/signup">Signup</a>
    </p>

</div>

<script>

    const form=document.getElementById("loginForm");

    form.addEventListener("submit",async(e)=>{

    e.preventDefault();

    const response=await fetch("/login",{

    method:"POST",

    headers:{
    "Content-Type":"application/json"
    },

    body:JSON.stringify({

    email:email.value,

    password:password.value

    })

    });

    const result=await response.text();

    document.getElementById("message").innerText=result;

    if(result==="Login Successful"){

    window.location="/home";

    }

    });

</script>

</body>

</html>